body {
    font-family: Consolas, serif;
}

.btn {
    font-size: large;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--bs-green)
}

#signature {
    font-style: italic;
}

h2 {
    font-size: x-large;
    color: var(--bs-secondary)
}

h1 {
    font-weight: bold;
}

table {
    margin: auto;
}

td {
    border: 0.04rem solid black;
}

td, .letter-input {
    width: 5rem;
    height: 5rem;
}

.letter-input {
    font-size: 2rem;
    border: none;
}

input:focus {
    background: var(--bs-primary);
}








