body {
    font-family: Consolas, serif;
}


table {
    margin: auto;
}

td {
    border: 0.04rem solid black;
}

td, .letter-input {
    width: 5rem;
    height: 5rem;
}

.letter-input {
    font-size: 2rem;
    border: none;
}

input:focus {
    background: var(--bs-primary);
}








