{% extends 'base.html' %}

{%  block title %}Game {{ game_code }}{% endblock %}

{% block main %}
    <form method="post" action="/game/{{ game_code }}">
        <div class="container-fluid my-5">
            <table>
                {% for row in game_matrix %}
                    <tr>
                        {% set outer_loop = loop %}
                        {% for element in row %}
                            {% if element == 0 %}
                                <td class="empty"> </td>
                            {% endif %}
                            {% if element == 1 %}
                                <td> <input class="letter-input" type="text" name="{{ outer_loop.index }}{{ loop.index }}">  </td>
                            {% endif %}
                            {% if element == 2 %}
                                <td> <input class="letter-input bg-warning" type="text" name="{{ outer_loop.index }}{{ loop.index }}">  </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <ul>
                {% for hint in game_hints %}
                    <li>{{ hint }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="container-fluid d-flex justify-content-center w-50 my-2">
            <button type="submit" class="btn btn-success w-25 mx-2">Submit</button>
        </div>
    </form>

    <div class="container-fluid d-flex justify-content-center w-50 my-2">
        <button class="btn btn-danger mx-2 w-25" onclick="clearInputs()">Reset</button>
    </div>

    <div class="container-fluid d-flex justify-content-center w-50 my-2">
        <a href="{{ url_for('home') }}" class="btn btn-primary mx-2 w-25">Home</a>
    </div>



{%  endblock %}
