{% extends 'base.html' %}

{%  block title %}Home{% endblock %}

{% block main %}
    <div id="navigation" class="container-fluid  my-2 align-items-center">

        <div class="container-fluid d-flex  my-1 justify-content-center">
            <a href="{{ url_for('random') }}" class="btn btn-outline-dark my-1 w-25">Solve random Cross Word</a>
        </div>

        <div class="container-fluid d-flex my-1 justify-content-center">
            <a href="{{ url_for('pick') }}" class="btn btn-outline-dark my-1 w-25">Pick a Cross Word by ID</a>
        </div>

        <div class="container-fluid d-flex my-1 justify-content-center">
            <a href="{{ url_for('create') }}" class="btn btn-outline-dark my-1 w-25">Create a Cross Word</a>
        </div>

    </div>
{%  endblock %}