{% extends 'base.html' %}

{%  block title %}Pick a puzzle{% endblock %}

{% block main %}

<div id="navigation" class="container-fluid d-flex mt-5 justify-content-center">

    <form method="post" class="my-2" action="/pick">
        <label for="puzzle-input">Enter the puzzle id:</label>
        <input id="puzzle-input" type="number" class="form-control" min="0" name="puzzleId">

        <button type="submit" class="btn btn-success my-3">Play!</button>
    </form>

</div>

{%  endblock %}